<section id="top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h1>TÜRKİYE'DE ŞİRKETLERİN GELİŞİMİ</h1>
                <p class="lh">
                    “Türkiye’de Şirketlerin Gelişimi” isimli anket soruları aşağıdaki gibidir.
                    Değerlendirerek, değişiklik ve katkı isteklerinizi paylaşmanızı önemle istirham ederiz.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container" id="main">
    <div id="survey_container">
        <div id="top-wizard">
            <strong>
                Sorular
                <span id="location"></span>
            </strong>
            <div id="progressbar"></div>
        </div>
        <form id="wrapped" action="~/home/Survey" method="POST">
            <div id="middle-wizard">
                @Html.Partial("~/Views/Questions/Baslangic.cshtml")
                @Html.Partial("~/Views/Questions/Q1.cshtml")
                @Html.Partial("~/Views/Questions/Q2.cshtml")
                @Html.Partial("~/Views/Questions/Q3.cshtml")
                @Html.Partial("~/Views/Questions/Q4.cshtml")
                @Html.Partial("~/Views/Questions/Q5.cshtml")
                @Html.Partial("~/Views/Questions/Q6.cshtml")
                <input id="website" name="website" type="text" value="">
                <div class="submit step" id="complete">
                    <i class="icon-check"></i>
                    <h3>Ankete katıldığınız için teşekkür ederiz.</h3>
                    <button id="sendData" class="submit">Anketi Tamamla</button>
                </div>
            </div>
            <div id="bottom-wizard">
                <button type="button" name="backward" class="backward">Backward</button>
                <button id="forward" type="button" name="forward" class="forward">Forward </button>
            </div>
        </form>

    </div>
</section>

<section class="container" id="result" style="display:none;">
    <div id="survey_container">
        <div id="middle-wizard">
            <div class="step row">

                <b>Sayın Yetkili;</b>
                <br />
                <br />
                Anket bilgileri sistemimize kaydedilmiştir.
                <br />
                <b>Zaman ayırdığınız için teşekkür ederiz.</b>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("#wrapped").on("submit", function (e) {
        e.preventDefault();

        saveData();
        $('#sendData').hide();
    });

    $('#sendData').on("click", function () {
        $('wrapped').submit();
    });

    $('#forward').on("click", function () {
        saveData();
    });

    function saveData() {
        if ($('input:radio:checked').serialize() !== '') {
            $.ajax({
                url: '../Home/Survey',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ cevaplar: $('input:radio:checked').serialize() }),
                dataType: "json",
                success: function (data) {
                    console.log("basarili");
                }
            });
        }
    }
</script>
